.about-container {
    margin-block-start: 40px;

    .about h2 {
        text-shadow: 1px 1px 2px var(--Primaryclr-3);
        font-family: chailce;
        margin: 0;
        margin-bottom: 20px;
    }
}