.hero-container {
    .hero {

        h1 {
            font-family: roboto;
            font-size: rem(40px);
            text-shadow: #FFD700 1px 0 5px;
            margin-inline: auto;
            margin-block: rem(20px);
            text-align: center;
        }

        .hero-img {}
    }
}