.toy-edit {
    padding-block: rem(40px);
    margin-block-start: rem(40px);
    text-align: center;
    border: 2px solid lighten($clrPrimary, 30%);

    h2 {
        font-size: rem(30px);
        font-family: gentleman;
        margin-block-end: rem(20px);
    }

    form {
        button {
            @include primaryBtn($type: normal, $size: big, $theme: dark)
        }
    }
}