@font-face {
    font-family: chailce;
    src: url(../../../../src/assets/fonts/chailce/ChailceNogginRegular-2OXoW.ttf);
}

@font-face {
    font-family: gentleman;
    src: url(../../../../src/assets/fonts/gentleman/GentlemanRegular-2OV3l.ttf);
}

@font-face {
    font-family: roboto;
    src: url(../../../../src/assets/fonts/roboto/Roboto-Regular.ttf);
}