// PALLETE
$clrPrimary-1: #FFFFFF;
$clrPrimary: #FF4500;

$clrSecondary: #79C8C7;

// LAYOUT
$layoutPadding: 60px;

// LAYOUT BREAKPOINTS
$break-narrow: 800px;
$break-normal: 1100px;
$break-wide: 1400px;